{% extends './layout.html' %}
{% block title %} Ay hola {% endblock %}
{% block body %}

<h2>Proveedores</h2>
<br>
<a href="{{url_for('proveedor_nuevo')}}" class="btn btn-outline-primary d-inline-flex align-items-center"><i></i> Nuevo</a>
<br><br>

<table class="table table-hover">
        <thead>
                <tr>
                        <th class="text-center">Nombre del proveedor </th>
                        <th class="text-center">Celular </th>
                        <th class="text-center">Editar</th>
                        <th class="text-center">Borrar</th>
                </tr>
        </thead>
        <tbody>
                {% for proveedor in proveedores %}
                <tr>

                        <td class="text-center">
                                {{proveedor[1]}}
                        </td>
                        <td class="text-center">
                                {{proveedor[2]}}
                        </td>

                        <td>
                                <div class="btn btn-outline-danger d-inline-flex align-items-center">
                                        <a href="#"><img src="{{ url_for('static',filename = 'img/edit.png') }}"
                                                        alt="Editar" height="18"></a>
                                </div>
                        <td>
                                <div class="btn btn-outline-danger d-inline-flex align-items-center">
                                        <a href="#"><img src="{{ url_for('static',filename = 'img/delete.png') }}"
                                                        alt="borrar" height="18"></a>
                                </div>
                        </td>
                        </td>
                </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}