{% extends './layout.html' %}
{% block title %} Ay hola {% endblock %}
{% block body %}

<h2>Sistema de Apartado</h2>
<br>
<a href="{{url_for('apartado_nuevo')}}" class="btn btn-outline-primary d-inline-flex align-items-center"><i></i> Nuevo</a>
<br><br>


<table class="table table-hover">
        <thead>
                <tr>
                        <th class="text-center">Prenda </th>
                        <th class="text-center">Anticipo </th>
                        <th class="text-center">Restan</th>
                        <th class="text-center">Nombre del cliente </th>
                        <th class="text-center">Tiempo limite </th>
                        <!-- ----------------------------ACCIONES--------------------- -->
                        <th class="text-center">Editar</th>
                        <th class="text-center">Borrar</th>
                </tr>
        </thead>
        <tbody>
                {% for apartado in apartados %}
                <tr>
                        <td class="text-center">
                                {{apartado[8]}}
                        </td>
                        <td class="text-center">
                                {{apartado[1]}}
                        </td>
                        <td class="text-center">
                                {{apartado[2]}}
                        </td>

                        <td class="text-center">
                                {{apartado[4]}}
                        </td>
                        <td class="text-center">
                                {{apartado[6]}}
                        </td>
                        <td>
                                <div class="btn btn-outline-danger d-inline-flex align-items-center">
                                        <a href="#"><img src="{{ url_for('static',filename = 'img/edit.png') }}"
                                                        alt="Editar" height="18"></a>
                                </div>

                        </td>
                        <td>
                                <div class="btn btn-outline-danger d-inline-flex align-items-center">
                                        <a href="#"><img src="{{ url_for('static',filename = 'img/delete.png') }}"
                                                        alt="borrar" height="18"></a>
                                </div>
                        </td>
                </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}